In [1]:
#Exploring data from the Provisional COVID-19 death counts in the US, by county.

# This dataset includes a snapshot of total deaths recorded between  01/01/2020 and 10/16/2021, as measured in 10/20/2021. 
# It covers data from all counties in the US.

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
df = pd.read_csv("../data_sources/Provisional_COVID-19_Death_Counts_in_the_United_States_by_County.csv")

In [10]:
df.head()

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,10/20/2021,01/01/2020,10/16/2021,AK,Aleutians East Borough,2013,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
1,10/20/2021,01/01/2020,10/16/2021,AK,Anchorage Municipality,2020,Medium metro,366.0,4133.0,NaN
2,10/20/2021,01/01/2020,10/16/2021,AK,Bethel Census Area,2050,Noncore,18.0,194.0,NaN
3,10/20/2021,01/01/2020,10/16/2021,AK,Denali Borough,2068,Noncore,NaN,11.0,One or more data cells have counts between 1-9...
4,10/20/2021,01/01/2020,10/16/2021,AK,Dillingham Census Area,2070,Noncore,NaN,45.0,One or more data cells have counts between 1-9...

In [11]:
df.count()

Date as of                   3030
Start Date                   3030
End Date                     3030
State                        3030
County name                  3030
FIPS County Code             3030
Urban Rural Code             3030
Deaths involving COVID-19    2439
Deaths from All Causes       3029
Footnote                      591
dtype: int64

In [12]:
df.dtypes

Date as of                    object
Start Date                    object
End Date                      object
State                         object
County name                   object
FIPS County Code               int64
Urban Rural Code              object
Deaths involving COVID-19    float64
Deaths from All Causes       float64
Footnote                      object
dtype: object

In [ ]:
# Noting: CLEAN UP TASK:
# Dates are objects, and not date types.

In [18]:
df_new = df.rename(columns={'Date as of':'Date-as-of', 'Start Date':'Start_date', 'End Date': 'End_date',
                            'County name':'county', 'FIPS County Code':'FIPS_code', 'Urban Rural Code':'Urban-Rural_code',
                           'Deaths involving COVID-19':'Deaths_COVID', 'Deaths from All Causes':'Deaths_All'})

In [20]:
df_new.head()

,Date-as-of,Start_date,End_date,State,County_name,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
0,10/20/2021,01/01/2020,10/16/2021,AK,Aleutians East Borough,2013,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
1,10/20/2021,01/01/2020,10/16/2021,AK,Anchorage Municipality,2020,Medium metro,366.0,4133.0,NaN
2,10/20/2021,01/01/2020,10/16/2021,AK,Bethel Census Area,2050,Noncore,18.0,194.0,NaN
3,10/20/2021,01/01/2020,10/16/2021,AK,Denali Borough,2068,Noncore,NaN,11.0,One or more data cells have counts between 1-9...
4,10/20/2021,01/01/2020,10/16/2021,AK,Dillingham Census Area,2070,Noncore,NaN,45.0,One or more data cells have counts between 1-9...

In [21]:
df_new.dtypes

Date-as-of           object
Start_date           object
End_date             object
State                object
County_name          object
FIPS_code             int64
Urban-Rural_code     object
Deaths_COVID        float64
Deaths_All          float64
Footnote             object
dtype: object

In [30]:
df_new['Date-as-of']=pd.to_datetime(df_new['Date-as-of'])

In [24]:
df_new.head()

,Date-as-of,Start_date,End_date,State,County_name,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
0,2021-10-20,01/01/2020,10/16/2021,AK,Aleutians East Borough,2013,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
1,2021-10-20,01/01/2020,10/16/2021,AK,Anchorage Municipality,2020,Medium metro,366.0,4133.0,NaN
2,2021-10-20,01/01/2020,10/16/2021,AK,Bethel Census Area,2050,Noncore,18.0,194.0,NaN
3,2021-10-20,01/01/2020,10/16/2021,AK,Denali Borough,2068,Noncore,NaN,11.0,One or more data cells have counts between 1-9...
4,2021-10-20,01/01/2020,10/16/2021,AK,Dillingham Census Area,2070,Noncore,NaN,45.0,One or more data cells have counts between 1-9...

In [28]:
df_new.dtypes

Date-as-of          datetime64[ns]
Start_date                  object
End_date                    object
State                       object
County_name                 object
FIPS_code                    int64
Urban-Rural_code            object
Deaths_COVID               float64
Deaths_All                 float64
Footnote                    object
dtype: object

In [34]:
df_new['Start_date']=pd.to_datetime(df_new['Start_date'])

In [35]:
df_new['End_date']=pd.to_datetime(df_new['End_date'])

In [36]:
df_new.head()

,Date-as-of,Start_date,End_date,State,County_name,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
0,2021-10-20,2020-01-01,2021-10-16,AK,Aleutians East Borough,2013,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
1,2021-10-20,2020-01-01,2021-10-16,AK,Anchorage Municipality,2020,Medium metro,366.0,4133.0,NaN
2,2021-10-20,2020-01-01,2021-10-16,AK,Bethel Census Area,2050,Noncore,18.0,194.0,NaN
3,2021-10-20,2020-01-01,2021-10-16,AK,Denali Borough,2068,Noncore,NaN,11.0,One or more data cells have counts between 1-9...
4,2021-10-20,2020-01-01,2021-10-16,AK,Dillingham Census Area,2070,Noncore,NaN,45.0,One or more data cells have counts between 1-9...

In [37]:
df_new.dtypes

Date-as-of          datetime64[ns]
Start_date          datetime64[ns]
End_date            datetime64[ns]
State                       object
County_name                 object
FIPS_code                    int64
Urban-Rural_code            object
Deaths_COVID               float64
Deaths_All                 float64
Footnote                    object
dtype: object

In [60]:
# check spelling of county names 
# FREQUENCEY = the frequency of the name across all states (ex/ 30 states have a "Washington County")


df_new['County_name'].value_counts()

Washington County    30
Jefferson County     25
Franklin County      23
Lincoln County       22
Jackson County       22
                     ..
Hampden County        1
Dukes County          1
Berkshire County      1
Barnstable County     1
Weston County         1
Name: County_name, Length: 1811, dtype: int64

In [47]:
df_new.County_name.unique()

array(['Aleutians East Borough', 'Anchorage Municipality',
       'Bethel Census Area', ..., 'Uinta County', 'Washakie County',
       'Weston County'], dtype=object)

In [49]:
county_unique = df_new.County_name.unique()

In [50]:
county_unique

array(['Aleutians East Borough', 'Anchorage Municipality',
       'Bethel Census Area', ..., 'Uinta County', 'Washakie County',
       'Weston County'], dtype=object)

In [64]:
#Isolate unique county names into its own dataframe:
df_counties = pd. DataFrame(county_unique, columns=['County-name'])

In [58]:
# MAX Deaths (COVID)
df_new['Deaths_COVID'].max()

24768.0

In [59]:
# MAX Deaths (ALL)
df_new['Deaths_All'].max()

146639.0

In [61]:
# Confirming all measures ended on the same date, 10-16-2021 (Confirmed)

df_new['End_date'].value_counts()

2021-10-16    3030
Name: End_date, dtype: int64

In [66]:
# SLICE - OREGON Data
oregon_data_df=df_new.loc[df_new["State"]=="OR"]
oregon_data_df

,Date-as-of,Start_date,End_date,State,County_name,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
2128,2021-10-20,2020-01-01,2021-10-16,OR,Baker County,41001,Noncore,NaN,390.0,One or more data cells have counts between 1-9...
2129,2021-10-20,2020-01-01,2021-10-16,OR,Benton County,41003,Small metro,69.0,1300.0,NaN
2130,2021-10-20,2020-01-01,2021-10-16,OR,Clackamas County,41005,Large fringe metro,321.0,6544.0,NaN
2131,2021-10-20,2020-01-01,2021-10-16,OR,Clatsop County,41007,Micropolitan,20.0,724.0,NaN
2132,2021-10-20,2020-01-01,2021-10-16,OR,Columbia County,41009,Large fringe metro,15.0,507.0,NaN
2133,2021-10-20,2020-01-01,2021-10-16,OR,Coos County,41011,Micropolitan,55.0,1603.0,NaN
2134,2021-10-20,2020-01-01,2021-10-16,OR,Crook County,41013,Micropolitan,16.0,401.0,NaN
2135,2021-10-20,2020-01-01,2021-10-16,OR,Curry County,41015,Micropolitan,18.0,667.0,NaN
2136,2021-10-20,2020-01-01,2021-10-16,OR,Deschutes County,41017,Small metro,244.0,3328.0,NaN
2137,2021-10-20,2020-01-01,2021-10-16,OR,Douglas County,41019,Micropolitan,183.0,2924.0,NaN
2138,2021-10-20,2020-01-01,2021-10-16,OR,Gilliam County,41021,Noncore,NaN,24.0,One or more data cells have counts between 1-9...
2139,2021-10-20,2020-01-01,2021-10-16,OR,Grant County,41023,Noncore,NaN,152.0,One or more data cells have counts between 1-9...
2140,2021-10-20,2020-01-01,2021-10-16,OR,Harney County,41025,Noncore,14.0,143.0,NaN
2141,2021-10-20,2020-01-01,2021-10-16,OR,Hood River County,41027,Micropolitan,25.0,325.0,NaN
2142,2021-10-20,2020-01-01,2021-10-16,OR,Jackson County,41029,Small metro,309.0,4961.0,NaN
2143,2021-10-20,2020-01-01,2021-10-16,OR,Jefferson County,41031,Noncore,13.0,389.0,NaN
2144,2021-10-20,2020-01-01,2021-10-16,OR,Josephine County,41033,Small metro,198.0,2359.0,NaN
2145,2021-10-20,2020-01-01,2021-10-16,OR,Klamath County,41035,Micropolitan,109.0,1606.0,NaN
2146,2021-10-20,2020-01-01,2021-10-16,OR,Lake County,41037,Noncore,10.0,182.0,NaN
2147,2021-10-20,2020-01-01,2021-10-16,OR,Lane County,41039,Medium metro,302.0,7762.0,NaN
2148,2021-10-20,2020-01-01,2021-10-16,OR,Lincoln County,41041,Micropolitan,27.0,1006.0,NaN
2149,2021-10-20,2020-01-01,2021-10-16,OR,Linn County,41043,Small metro,97.0,2547.0,NaN
2150,2021-10-20,2020-01-01,2021-10-16,OR,Malheur County,41045,Micropolitan,26.0,535.0,NaN
2151,2021-10-20,2020-01-01,2021-10-16,OR,Marion County,41047,Medium metro,406.0,5658.0,NaN
2152,2021-10-20,2020-01-01,2021-10-16,OR,Morrow County,41049,Micropolitan,NaN,98.0,One or more data cells have counts between 1-9...
2153,2021-10-20,2020-01-01,2021-10-16,OR,Multnomah County,41051,Large central metro,1089.0,13822.0,NaN
2154,2021-10-20,2020-01-01,2021-10-16,OR,Polk County,41053,Medium metro,31.0,1037.0,NaN
2155,2021-10-20,2020-01-01,2021-10-16,OR,Tillamook County,41057,Noncore,20.0,573.0,NaN
2156,2021-10-20,2020-01-01,2021-10-16,OR,Umatilla County,41059,Micropolitan,93.0,1173.0,NaN
2157,2021-10-20,2020-01-01,2021-10-16,OR,Union County,41061,Micropolitan,31.0,492.0,NaN
2158,2021-10-20,2020-01-01,2021-10-16,OR,Wallowa County,41063,Noncore,NaN,130.0,One or more data cells have counts between 1-9...
2159,2021-10-20,2020-01-01,2021-10-16,OR,Wasco County,41065,Micropolitan,40.0,621.0,NaN
2160,2021-10-20,2020-01-01,2021-10-16,OR,Washington County,41067,Large fringe metro,432.0,6972.0,NaN
2161,2021-10-20,2020-01-01,2021-10-16,OR,Yamhill County,41071,Large fringe metro,94.0,1776.0,NaN